#sideNavbarContainer .ant-menu .ant-menu-item {
  height: 48px;
  width: 48px;
  padding: 12px;
  line-height: 40px;
  margin: 0;
  margin-top: 24px;
  width: 100%;
}

#sideNavbarContainer .ant-menu .ant-menu-item-selected {
  background-color: var(--bg-blue-light200);
}

.user-items-avatar {
  border: none;
  display: block;
  background-color: var(--bg-blue-light);
  color: var(--foreground-blue-light);
  font-size: 14;
  line-height: auto;
}

.side-navbar-container-style {
  height: var(--app-height);
  padding: 12px;
  padding-block: 24px;
}

.side-navbar-menuitem-styles {
  min-width: 0;
  flex: auto;
  border: none !important;
}
