.personal-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personal-input-children-style {
  display: flex;
  gap: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 16px;
}

.upload-text-style {
  margin-top: 8px;
}

.form3-container {
  max-width: 600px !important;
}

.upload-text-style {
  margin-top: 8px;
}
