.candidate-table-header-container .ant-divider {
  margin: 0;
}

.candidate-table-header-title {
  color: var(--foreground-blue-dark);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.candidate-table-header-subtitle {
  color: var(--foreground-blue-dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.candidate-table-subheading {
  color: var(--foreground-black-500);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.candidate-table-header-container {
  padding-block: 16px;
}

.candidate-badge {
  height: 25px;
  width: 25px;
  border-radius: 40px;
  background: var(--bg-blue-light10);
  color: var(--foreground-navy-blue-500);
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
}
