#image-upload .ant-upload-wrapper .ant-upload {
  width: 100%;
  height: auto;
}

.image-upload-styles {
  width: 100%;
}

.image-upload-container {
  width: 512px;
  height: 210px;
}

.image-upload-text {
  font-size: 14px;
  font-weight: bold;
  font-weight: 600;
  line-height: 159.5%;
}

.image-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 159.5%;
  color: var(--foreground-grey-100);
}
