.task-one-layout-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 280px;
  background: var(--colorBgContainer);
  gap: 113px;
  padding-top: 123px;
  padding-bottom: 24px;
}

.appliaction-form-container {
  background: var(--bg-white-base);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
