.filter-menu-item svg {
  height: 16px !important;
  width: 16px !important;
}

.filter-menu-item {
  border-radius: 8px;
}

.filter-header-text {
  font-size: 14px;
  font-weight: 500;
  color: #0b0b0b;
  font-family: Poppins;
  font-style: normal;
  line-height: 22px;
}

#filter-menu .ant-menu .ant-menu-item {
  margin: 0;
}

.filter-menu-item svg + .ant-menu-title-content {
  margin-left: 10px;
}

.filter-header-select-text {
  color: #0b0b0b;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

#filter-menu .ant-menu-submenu-title {
  padding-right: 16px;
}
